.post_date {color: @postDateColor; font-size: @postDateFontSize; margin-right: 10px;}
.post_title {color: @postTitleColor;}
.post_title a {color: @postTitleColor;}

.blog-post-title {

h2 {
    font-size: 32px;
    color: @bannerBackground;
    }
h5 {
    font-size: @postDateFontSize;
    margin-bottom: 10px;
    }
p {
    font-size: 15px;
    line-height: @baseLineHeight * 1.15;
    .clearfix()
}
img {float: left; margin: 4px; display: block; height: 100px; overflow: hidden; .clearfix()}
a { color: @bannerBackground;}
}
.read-more{ margin-left: 10px;}

.blog-sidebar {
    background: url(http://127.0.0.1/assets/img/bg.png) repeat-x repeat-y;
    }

.blog-post-abstract {
p { font-size: 15px;
	font-color: @grayDark;
	font-syle: italic;
	line-height: @baseLineHeight *1.15;
	margin-bottom: 10px;
	}
}

.blog-post-content {
p {
	font-size: 15px;
	line-height: @baseLineHeight * 1.15;
	}
}

.blog-related-posts {
ul {
	margin-bottom: 10px;
	}
li {
	color: @bannerBackground;
	margin-bottom: 10px;
}
a {
	color: @bannerBackground;
	}
}

.fwd-back-posts {
ul {
	font-size: 10px;
	color: @bannerBackground;
	}
li {
	font-size: 10px;
	color: @bannerBackground;
	}
a {
	font-size: 10px;
	color: @bannerBackground;
	}
}

.post-bottom-share {
	display: block;
	float: center;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
	.clearfix()
}
