---
title: Xemplar Technology
active: technology
banner-word: Technology
---

{% include header.html %}
{% include banner.html %}

<div class="container">
<div class="row">
<div class="span10 offset1">
	<div class="row">
		<div class="span6 offset4">
			<div class="callout"">
			<h1>Real-time Data Processing</h1>
			<p>Process your data in real-time using advanced in-memory parallel computations.  Like Hadoop MapReduce, Xemplar's ARC Engine maps your computations to all available nodes, optimizing your workload to the available resources.  However, unlike Hadoop, the data is held in memory, achieving a 30x speed up on average and is optimized for workloads such as machine learning, pattern recognition, and transactional processing.</p>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="span6">
			<div class="callout">
			<h1>Use all your resources, on any network</h1>
			<p>The ARC Engine discovers all nodes on your network, even on low-bandwidth or unreliable connections.  Using affinity routing, ARC Engine will determine where best to run your code, using the best tool for the job, whether it is a standard server, GPU, or a manycore co-processor.  Advanced algorithms determine how best to set up the job for maximum reliability and minimum run-time.</p>
			</div>
		</div>
	</div>
</div>

</div>
</div>
{% include footer.html %}
