---
active: blog
banner-word: Blog
---

{% include header.html %}
{% include banner.html %}

<div class="container">
    <div class="row">
    <div class="span8">

                    <div class="blog-post-title">
                     <h2>{{page.title}}</h2>
                     <h5>Posted by {{ page.author }} on {{ page.date | date_to_string }}</h5>
                    <p> {{ page.content }} </p>
                    </div>
                </div>
<div class="span4">
    <div class="well">
 <h3>Stay connected</h3>
			<a href="http://twitter.com/xemplarIO"><img
                            src="{{site.url}}/assets/img/twitter.png"></a><a
                            href="http://www.linkedin.com/company/2556873"><img
                            src="{{site.url}}/assets/img/linkedin.png"></a><a
                            href="https://plus.google.com/b/115171007282149388568/"><img
                            src="{{site.url}}/assets/img/google.png"></a><img src="{{site.url}}/assets/img/rss.png">
			<p>Receive new blog posts via email.</p>

<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form class="form-inline" action="http://xemplar.us4.list-manage1.com/subscribe/post?u=a032109b2e89e4d8215e5406a&amp;id=1578530e82" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
<span class="add-on"><i class="icon-envelope"></i></span>
<input type="email" class="input-small span2" value="" name="EMAIL" id="mce-EMAIL" >
<button type="submit" class="btn" name="subscribe" value="Subcribe" id="mc-embedded-subscribe"><i class="icon-check"></i>Subscribe</button>
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>

</form>
</div>
</div> <!--end well--!>

</div>
</div></div>

{% include footer.html %}
